@page "{id:int}"
@model GerenRest.RazorPages.Pages.Garcon.Delete

<div>
    <h1>Detalhes do item a ser removido</h1>

    <p><strong>Nome:</strong> @Model.GarconModel.Nome</p>

</div>

<form method="post">
    <div class="form-group">
        <input type="submit" value="Deletar" class="btn btn-danger"/>
        <a asp-page="./Event/Index" class="btn btn-primary">Retornar para a listagem</a>
    </div>
</form>