@page "{id:int}"
@model GerenRest.RazorPages.Pages.Garcon.Details

<h1>Detalhes do Evento</h1>

<div>
    <p><strong>Nome:</strong>@Model.GarconModel.Nome</p>
    <p><strong>Descrição:</strong>@Model.GarconModel.Sobrenome</p>
    <p><strong>Data da criação:</strong>@Model.GarconModel.Telefone</p>
        
    }
</div>

<a asp-page="Index">Voltar para a lista</a>